
<% layout('/layouts/boilerplate') -%>


<body>
  <form class="edit-form needs-validation custom-form" action="/explore-rooms/<%= singleData._id %>?_method=PUT" method="post" enctype="multipart/form-data"  novalidate>
    <h2 class="form-title">Edit your Property page</h2>
    <div class="form-group mb-3">
      <input name="listing[title]" value="<%= singleData.title %>" placeholder="Enter title" required type="text" class="form-control custom-input">
      <div class="invalid-feedback">Please enter a title.</div>
    </div>
    <div class="mb-3">
      <h6>Original Listing Image</h6>
      <img class="img-fluid" style="height: 100px; width:200px;"   src="<%=originalImageUrl%>" >
    </div>
    <div class="form-group mb-3">
      <h6>Update New Image</h6>
      <input name="listing[image]"   type="file" class="form-control custom-input">
      <div class="invalid-feedback">Please enter a valid image URL.</div>
    </div>
    <div class="form-group mb-3">
      <textarea name="listing[description]"  required placeholder="Enter description" class="form-control custom-input"  rows="3"><%= singleData.description %>"</textarea>
      <div class="invalid-feedback">Please enter a description.</div>
    </div>
    <div class="form-group mb-3">
      <input name="listing[price]" value="<%= singleData.price %>" required placeholder="Enter price" type="number" min="0" class="form-control custom-input">
      <div class="invalid-feedback">Please enter a valid price.</div>
    </div>
    <div class="form-group mb-3">
      <input name="listing[location]" value="<%= singleData.location %>"  required placeholder="Enter location" type="text" class="form-control custom-input">
      <div class="invalid-feedback">Please enter a location.</div>
    </div>
    <div class="form-group mb-3">
      <input name="listing[country]" value="<%= singleData.country %>" required placeholder="Enter country" type="text" class="form-control custom-input">
      <div class="invalid-feedback">Please enter a country.</div>
    </div>
    <button class="update-btn btn btn-primary custom-btn" >Update</button>
  </form>
  <script src="/js/script.js"></script>
</body>

